# Object file
*.o

# Ada Library Information
*.ali

#Local terraform supporting files
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform/*

# Local files and directory folders
.vscode
.vscode/*
temp.txt
provider.tf

